@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --m: 10;
    --wavefreq: calc(100ms * var(--m));
  }
}

#wave {
  display: flex;
  gap: 8px;
  height: 32px;
}

[class*="wave"] {
  aspect-ratio: 0.125/1;
  /*This can all be written on one line:*/
  animation: waveform var(--wavefreq) ease-in-out infinite forwards;
  background-color: #8b5a41;
  border-radius: 15px;
  width: 8px;
}

@keyframes waveform {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(0.5);
  }
}

.wave0 {
  --wavefreq: calc(100ms * var(--m));
}

.wave1 {
  --wavefreq: calc(125ms * var(--m));
}

.wave2 {
  --wavefreq: calc(150ms * var(--m));
}

.wave3 {
  --wavefreq: calc(175ms * var(--m));
}

.wave4 {
  --wavefreq: calc(200ms * var(--m));
}

.wave5 {
  --wavefreq: calc(225ms * var(--m));
}

.wave6 {
  --wavefreq: calc(250ms * var(--m));
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #684331;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
